* {
    text-decoration: none;
    color: #000000;
}
header {
  padding: 20px 0;
  background: url(imagem/fundomario-novo.png);
}
   

@font-face {
        font-family: supermario;
        src: url(fonte/SuperMario256.ttf);
    }


.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.logo {
    width: 200px;
    max-width: 200px;
}

nav {
    position: absolute;
    top: 80px;
    right: 100px;
}

nav li {
    display: inline; /*alinhamento em linha*/
    margin: 0 0 0 25px;
    text-transform: uppercase;
    color: black;
    font-family: supermario;
    font-size: 22px;
    text-decoration: none;
}

nav li a:hover {
    color: #fe721b;
    text-decoration: underline
    ;
}




main {
    width: 940px;
    margin: 60px auto;
    text-align: center;
}



form {
    margin: 40px 0;
    margin-bottom: 10px;
}

form label {
    display: block;
    font-size: 20px;
    margin: 0 0 20px;

}

form input {
    display: inline-block;
    margin: 0 0 20px;
    padding: 10px 45px;
    
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 15px 25px; /*coloca espaço entre os imputs*/
    width: 50%; /*coloca o campo com 50% da página*/
    box-sizing: border-box;
   
}/*se colocar a virgula da pra por mais de um seletor de css e as config serão as mesmas*/

.checkbox {
    margin: 20px;
}

.enviar {
    width: 30%;
    padding: 15px 0;
    background: #fe721b;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    border: none; /*tirei a borda do botão*/
    border-radius: 5px; /*arredondei os cantos*/
    transition: 1s all;/*coloca um delay para mudar a cor*/
    cursor: pointer; /*pointer transforma a seta em maozinha*/
   margin: 10px 0 30px;
}

.enviar:hover {
    background-color: #fa6a11;
    color: #000000;
    transform: scale(1.1);
}

footer {
    text-align: center;
    background: url(imagem/rodape.jpg);
    padding: 10px 0;
      
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
   
}

.redes-sociais {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    margin: 5px auto;
    text-align: center;
    text-transform: uppercase;
    padding: auto;
  
}



.redes-sociais a {
    color: #fa6a11;
    padding: 0px 10px;
    transition: 1s all;
      
}
   

.redes-sociais a:hover {
   cursor: pointer; 
}

.copyright {
    color: #ffffff;
    font-size: 13px;
    margin-top: 10px;
}